*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*refer copy..content size decreases on applying padding */
}

#wrapper
{
    height: 100vh;
    overflow-y:auto;
    overflow-x: hidden; /* to stop scrolling across x-axis */
    perspective: 10px; 
}

.container
{
    position: relative; /* so that bg img and foreground img can be set as absolute bcoz we want them to overlap */ 
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    transform-style: preserve-3d;
    z-index: -1; /*why is it important*/
}

.background{
    transform: translateZ(-39px) scale(5);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

h1{
    position: absolute;
    top: 5rem;
    font-size: 7rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.background , .foreground
{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; /* this streches images such that they look perfect acc to viewport(screen) */ 
    z-index: -1;
}

section{
    background-color: rgb(45,45, 45);
    color: white;
    padding: 2rem 0; /*padding 2rem(top&bottom) b/w  top of Adventure time text black bg*/
    
}

.bg1{
    background-image: url(./mountain-biking-over-rugged-terrain.webp);
     
}

.bg2{
    background-image: url(./para\ gliding.jpg);
}

.bg3{
    background-image: url(./surf2.jpg);
}

.secheading{
    font-size: 5rem;
    padding: 0 10rem;
    font-family: 'Oswald',sans-serif;
}

.text{
    font-family: 'Poppins', sans-serif;
    padding: 0 10rem;
    margin: 2rem 0;
}

.bg{
    position: relative; /* so that biking heading text overlaps with background image of biking, etc */ 
    width: 100%;
    background-attachment: fixed;  /* to fix the bg images while scrolling */
    height: 500px;
    background-position: center; /* to make images placed at centre */
    background-size: cover;  /* to make image to cover whole screen */
}

.desc{
    position: absolute;
    border-radius: 10px;
    font-family:'Oswald',sans-serif;
    background-color: white;
    color: black;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.3rem;
    font-weight: 600;
}

